<div class="login">
  <h2 class="login-header">Register Yourself</h2>

  <form [formGroup]="signupForm" class="login-container" (ngSubmit)="signup()">
    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" />
      <mat-hint class="error" *ngIf="signupForm.controls['username']?.touched && signupForm.controls['username']?.errors">
        Username is required.
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-hint class="error" *ngIf="signupForm.controls['password']?.touched && signupForm.controls['password']?.errors">
        Password is required.
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-hint class="error" *ngIf="signupForm.controls['password']?.touched && signupForm.controls['password']?.errors">
        Password is required.
      </mat-hint>
    </mat-form-field>

    <div >
      <button mat-raised-button>Sign up</button>
    </div>
  </form>
</div>

